@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: black url(img/fundo-branco-textura-elegante_23-2148428852.avif) top right no-repeat fixed;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section.iphone{
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(img/iphone.png) center center no-repeat fixed;
    background-size: cover;
    z-index: 0;
}


iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 472px;
    width: 267px;
}