@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: black url(img/fundo-branco-textura-elegante_23-2148428852.avif) top right no-repeat fixed;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section.iphone{
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(img/iphone13.png) center center no-repeat fixed;
    background-size: cover;
    z-index: 0;
}
iframe#tela{
    position: relative;
    top: 19px;
    left: 18px;
    height: 588px;
    width: 272px;
    overflow-y: hidden;
}
section.buttons{
    text-align: right;
}
section.buttons img{
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    
}
section.buttons img:hover{
    border: 3px solid rgba(255, 255, 255, 0.833);
    transform: translate(-5px, -5px);
    transition: transform .5s, border .5s;
}
